<div class="app" fxLayout="column nowrap">
  <mat-toolbar
    color="accent"
    fxLayout="row"
    fxLayoutAlign="space-around center"
    fxLayoutGap="16px"
  >
    <a [routerLink]="['/']" class="homeLogo">
      <ng-lottie
        width="auto"
        class="logo"
        [options]="options"
        (domLoaded)="setSvgAutoWidth()"
      ></ng-lottie>
    </a>
    <div fxFlex="100%"></div>
    <button fxFlex="1 1 3em" mat-icon-button [routerLink]="['/basket']">
      <mat-icon>shopping_cart</mat-icon>
    </button>
  </mat-toolbar>

  <div class="content" fxFlex fxLayout="column" fxLayoutAlign=" center">
    <div class="body" fxFlex fxLayoutAlign="center" fxFlex>
      <router-outlet></router-outlet>
    </div>

    <footer fxLayout="row wrap" fxLayoutAlign="center center">
      <h2 fxLayoutAlign="center center" fxFlex.xs="100%">
        <a mat-button [routerLink]="['/about']">Strong Ladies © 2021</a>
      </h2>
      <h2 fxLayoutAlign="center center" fxFlex.xs="100%">
        <a mat-button [routerLink]="['/legal']">Privacy & Legal</a>
      </h2>
      <h2 fxLayoutAlign="center center" fxFlex.xs="100%">
        <a mat-button href="mailto:contact@strongladies.store">Contact</a>
      </h2>
    </footer>
  </div>
</div>
