<div class="body">
  <section>
    <div class="imgContainer">
      <img src="assets/product/1st.jpg" />
    </div>
    <div class="infoContainer">
      <h1>High Waist & Scrunch Design</h1>

      <h3>
        These butt lifting leggings are amazingly designed with high-waist,
        helping you flatten your abdomen, contouring your curves and
        streamlining your shape. The back ruched design gently presses your butt
        to boost volume.
      </h3>
    </div>
  </section>
  <section>
    <div class="imgContainer">
      <img src="assets/product/2nd.jpg" />
    </div>
    <div class="infoContainer">
      <h1>High Quality Fabric</h1>

      <h3>
        Stretchy & Non see through fabric, Good touching, light-weight,
        moisture-wicking, ultra soft, comfortable, breathable, close-fitting to
        your figure
      </h3>
    </div>
  </section>

  <section>
    <div class="imgContainer">
      <img src="assets/product/3rd.jpg" />
    </div>
    <div class="infoContainer">
      <h1>Setting & Occasions</h1>

      <h3>
        Perfect for yoga, dance, party, holidays, cosplay, costume, club outfit,
        jogging, running, gym, fitness and any type of workout, or just casual
        lounge wear or sleep shorts
      </h3>
    </div>
  </section>

  <section>
    <h1>Buy this shit</h1>
  </section>
</div>
